{% extends 'base.html' %}

{% block title %} | Home {% endblock %}


{% block content %}

{% load static %}


<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">
            <div class="carousel-item banner-max-height active item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/logos/logo.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- Featured Games start -->

<div class="featured-car content-area-5">
    {% include 'includes/messages.html' %}
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Featured <span>Games</span></h1>
            <p>Checkout our recent releases and featured content.</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for game in games %}
                {% if game.is_featured == True %}
                <div class="slick-slide-item">
                    <div class="car-box-3">
                        <div class="car-thumbnail">
                            {% if "placeholder" in game.game_image_main.url %}
                            <a href="#" class="car-img">
                                <div class="tag-2">Featured</div>
                                <img class="d-block w-100" draggable="false" src="{% static 'img/logos/logo.jpg' %}" alt="ScatterShot Logo" style="min-height: 450px; max-height: 450px;">
                            </a>
                            {% else %}
                            <a href="#" class="car-img">
                                <div class="tag-2">Featured</div>
                                <img class="d-block w-100" draggable="false" src="{{ game.game_image_main.url }}" alt="{{ game.game_title }}" style="min-height: 450px; max-height: 450px;">
                            </a>
                            {% endif %}
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                            <a href="{{ game.game_image_main.url }}" class="overlap-btn">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" draggable="false" src="{{ game.game_image_main.url }}">
                                            </a>
                                            {% if game.game_image_2 %}
                                            <a href="{{ game.game_image_2.url }}" class="hidden">
                                                <img class="hidden" draggable="false" src="{{ game.game_image_2.url }}">
                                            </a>
                                            {% endif %}
                                            {% if game.game_image_3 %}
                                            <a href="{{ game.game_image_3.url }}" class="hidden">
                                                <img class="hidden" draggable="false" src="{{ game.game_image_3.url }}">
                                            </a>
                                            {% endif %}
                                            {% if game.game_image_4 %}
                                            <a href="{{ game.game_image_4.url }}" class="hidden">
                                                <img class="hidden" draggable="false" src="{{ game.game_image_4.url }}">
                                            </a>
                                            {% endif %}
                                            {% if game.game_image_5 %}
                                            <a href="{{ game.game_image_5.url }}" class="hidden">
                                                <img class="hidden" draggable="false" src="{{ game.game_image_5.url }}">
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="{% url 'game_detail' game.slug %}"><i class="fa-solid fa-chess-board"></i> {{ game.game_title }}</a>
                            </h1>
                            <div class="location">
                                <a href="{% url 'game_detail' game.slug %}">
                                    <i class="fa-solid fa-user"></i> {{ game.creator}}
                                </a>
                                <p>{{ game.game_brief | safe }}</p>
                            </div>
                            
                                <p><i class="fa-solid fa-user-plus"></i> Players : {{ game.players }}</p>
                                <p><i class="fa-solid fa-clock"></i> Play Time : {{ game.game_time }} Minutes</p>
                            
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

            </div>
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured Games end -->

<!-- Blog Section start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Latest <span>News</span></h1>
            <p>ScatterShot Blog Space, your one stop shop for all things ScatterShot</p>
        </div>
        <div class="row">
            {% for post in posts %}
            {% if post.is_featured == True and post.status == 1%}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="card-img-top" draggable="false" src="{% static 'img/feedandbreed/feed_breed_fox_card.jpg' %}"
                                alt="placeholder image">
                            {% else %}
                            <img class="card-img-top" draggable="false" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                            {% endif %}
                            <div class="image-flash">
                                <p class="author">Author: {{ post.author }}</p>
                            </div>
                        </div>
                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p>{{ post.excerpt }}</p>
                        </a>
                        <hr />
                        <p class="card-text text-muted h6">{{ post.created_on}}
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        </div>
    </div>
</div>
<!-- Blog Section end -->


<!-- Our team start -->
<div class="our-team content-area bg-grea-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Team <span>ScatterShot</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for team in team %}
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">      
                                {% if "placeholder" in team.profile_image.url %}
                                <img src="{% static 'img/avatar/avatar-12.jpg' %}" class="img-fluid"  draggable="false" alt="placeholder image">
                                {% else %}
                                <img src="{{ team.profile_image.url }}" class=" img-fluid" draggable="false" alt="{{ team.position }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="details">
                            <h4><a href="#">{{team.f_name}}</a></h4>
                            <h5>{{team.position}}</h5>
                            <p>{{team.content | safe}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->






{% comment %} <!-- Car Overview Modal -->
<div class="car-model-2">
    <div class="modal fade" id="carOverviewModal" tabindex="-1" role="dialog" aria-labelledby="carOverviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="carOverviewModalLabel">
                        <h4>Explore Your Dream Car</h4>
                        <h5><i class="flaticon-pin"></i> 123 Kathal St. Tampa City,</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row modal-raw">
                        <div class="col-lg-6 modal-left">
                            <div class="item active">
                                <img src="{% static 'img/car-13.jpg' %}" alt="best-car" class="img-fluid modalLabel-1">
                                <img src="{% static 'img/car-14.jpg' %}" alt="best-car" class="img-fluid modalLabel-2">
                                <div class="sobuz">
                                    <div class="price-box" style="padding-bottom: 5px;">
                                        <span class="del-2">$1050.00</span>
                                    </div>
                                    <div class="">
                                        <a href="car-details.html" class="btn btn-md btn-round btn-theme">Convertible</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 modal-right">
                            <div class="modal-right-content">
                                <section>
                                    <h3>Features</h3>
                                    <div class="features">
                                        <ul class="bullets">
                                            <li>Cruise Control</li>
                                            <li>Airbags</li>
                                            <li>Air Conditioning</li>
                                            <li>Alarm System</li>
                                            <li>Audio Interface</li>
                                            <li>CDR Audio</li>
                                            <li>Seat Heating</li>
                                            <li>ParkAssist</li>
                                        </ul>
                                    </div>
                                </section>
                                <section>
                                    <h3>Overview</h3>
                                    <ul class="bullets">
                                        <li>Model</li>
                                        <li>Year</li>
                                        <li>Condition</li>
                                        <li>Price</li>
                                        <li>Audi</li>
                                        <li>2020</li>
                                        <li>Brand New</li>
                                        <li>$178,000</li>
                                    </ul>
                                </section>
                                <div class="description">
                                    <h3>Description</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                                    <a href="car-details.html" class="btn btn-md btn-round btn-theme">Show Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}

{% endblock %}