{% load static %}

<!-- Main header start -->
<header class="main-header sticky-header header-with-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{% url 'home' %}">
                ScatterShot Games
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a 
                        {% if '/' == request.path %}
                        class="nav-link active"
                        {% else %} 
                        class="nav-link"
                        {% endif %}
                        href="{% url 'home' %}"><i class="fa-solid fa-house"></i>
                         Home
                        </a>
                    </li>
                    <li class='nav-item'>
                        <a                        
                        {% if '/games/' == request.path %}
                        class="nav-link active"
                        {% else %} 
                        class="nav-link"
                        {% endif %}
                        href="{% url 'games' %}"><i class="fa-solid fa-chess-board"></i>
                         Games
                        </a>
                    </li>
                    <li class='nav-item'>
                        <a                        
                        {% if '/about' == request.path %}
                        class="nav-link active"
                        {% else %} 
                        class="nav-link"
                        {% endif %} 
                        href="{% url 'about' %}"><i class="fa-solid fa-circle-info"></i>
                         About
                        </a>
                    </li>
                    <li class='nav-item'>
                        <a                        
                        {% if '/blog' == request.path %}
                        class="nav-link active"
                        {% else %} 
                        class="nav-link"
                        {% endif %}
                        href="{% url 'blog' %}"><i class="fa-solid fa-blog"></i>
                         Blog
                        </a>
                    </li>
                    <li class='nav-item'>
                        <a                        
                        {% if '/contact' == request.path %}
                        class="nav-link active"
                        {% else %} 
                        class="nav-link"
                        {% endif %}
                        href="{% url 'contact' %}"><i class="fa-solid fa-message"></i>
                         Contact
                    </a>
                    </li>
                    {% comment %} Checking if user is logged in {% endcomment %}
                    {% if user.is_authenticated %}
                    <li class='nav-item'>
                        <a class="nav-link" href="{% url 'dashboard' %}" class="sign-in nav-link"><i class="fa fa-user"></i> Dashboard</a>
                    </li>
                    <li class='nav-item'>
                        <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}" class="sign-out nav-link"><i class="fa fa-sign-out"></i> Logout</a>
                        <form action="{% url 'logout' %}" method="POST" id="logout">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                    </li>
                    {% else %}
                        <li class='nav-item'>
                        <a                        
                        {% if '/accounts/login' == request.path %}
                        class="nav-link active sign-in"
                        {% else %} 
                        class="nav-link sign-in"
                        {% endif %} 
                        href="{% url 'login' %}" class="sign-in nav-link"><i class="fa fa-sign-in"></i> Login</a>
                    </li>
                    <li class='nav-item'>
                        <a                        
                        {% if '/accounts/signup' == request.path %}
                        class="nav-link active sign-in"
                        {% else %} 
                        class="nav-link sign-in"
                        {% endif %} 
                        href="{% url 'signup' %}"><i class="fa fa-user"></i> Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- Main header end -->